body {
  margin: 0px 20px;
  background: #ceb9b8;
  text-align: center;

  h1 {font-size: cclamp(1.98rem, 1.2vw, 2.46rem);}
  h2 {font-size: clamp(1.64rem, 1.2vw, 2.12rem);}
  h3 {font-size: clamp(1.32rem, 1.2vw, 1.8rem);}
  p {font-size: clamp(1rem, 1.2vw, 1.48rem);}

  .buttonmenu1 {
    border-radius: 8px;
    font-size: clamp(1.98rem, 1.2vw, 2.46rem);
    padding: 4px 8px;
    margin: 2px;
    color: black;
    background-color: #635150;
    transition-duration: 0.35s;
  }
  .buttonmenu1:hover {
    border-radius: 12px;
    font-size: clamp(1.98rem, 1.2vw, 2.46rem);
    padding: 8px 8px;
    background-color: #9b7f7e;
  }
  .buttonmenu2 {
    border-radius: 8px;
    font-size: clamp(1.98rem, 1.2vw, 2.46rem);
    padding: 1px 8px;
    margin: 2px;
    color: black;
    background-color: #635150;
    opacity: 0.6;
}

  /* Straight divider */
  hr.solid {
  border-top: 2px solid #635150;
  }

  /* Box  around stuff */
  div {
  background-color: #ceb9b8;
  border: 5px solid #635150;
  padding: 5px;
  margin: calc(1.6vw);
  }
}
