body {
  margin: 0px 20px;
  background: #EBB9DC;
  text-align: center;

  h1 {font-size: calc(26px + 1vw);}
  h2 {font-size: calc(20px + 0.6vw);}
  h3 {font-size: calc(16px + 0.6vw);}
  p {font-size: clamp(1rem, 2vw, 1.4rem);}
}
