body {
  margin: 0px 20px;
  background: #93dfdf;
  text-align: left;

  h1 {font-size: cclamp(1.98rem, 1.2vw, 2.46rem);}
  h2 {font-size: clamp(1.64rem, 1.2vw, 2.12rem);}
  h3 {font-size: clamp(1.32rem, 1.2vw, 1.8rem);}
  p {font-size: clamp(1rem, 1.2vw, 1.48rem);}
}
